*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to right top, lightgreen, rgb(144, 215, 144), rgb(117, 191, 215));
    height: 100vh;
}

.container-converter{
    width: 400px;
    margin: 250px auto;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 9px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    padding: 18px;
}

.converter-title{
    color: green;
    font-weight: 900;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    margin-bottom: 20px;
}
.converter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pounds{
    text-align: left;
    color: green;
    font-weight: 600;
}

.input{
    width: 260px;
    padding: 0 5px 0 10px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.4);
    border: none;
    outline: none;
}

.input::placeholder{
    color: gray;

}

.result{
    text-align: left;
    color: green;
    font-size: .8em;
    margin-bottom: 10px;
}

.error{
    
    color: red;
    font-size: .8em;
    text-align: left;
}